[Unit]
Description=Alisa - Cute and kindhearted IRC bot
After=network.target

[Service]
User=alisa
Group=alisa
WorkingDirectory=/var/lib/alisa
ExecStart=/usr/java/latest/bin/java -Xmx400m -jar /usr/share/alisa.jar /etc/alisa.conf

[Install]
WantedBy=multi-user.target